# Google
GOOGLE_CREDENTIALS=./google-service-account.json 

# Change below only
GOOGLE_CALENDAR_ID=your-calendar-id@group.calendar.google.com
GOOGLE_GROUP_EMAIL=support-team@yourcompany.com

# This will break if the admin email is different so advise if Anna leaves
GOOGLE_ADMIN_EMAIL=admin@yourcompany.com

# Notion
NOTION_TOKEN=secret_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
NOTION_DATABASE_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# Slack (optional)
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/XXX/YYY/ZZZ
